@page "/about"

<section class="content-section container">
    <h2 class="section-header">About Us</h2>
    <img class="about-pezzo-image" src="images/pezzo-about.jpg">
    <p>
        Welcome to Pezzo where every pizza has its own unique character and taste. <br>
        Meet Big Daddy, Meat Munchers or Garlic Chick for a novel way of enjoying some scrumptious tasting pizzas on-the-go. <br>
        Just so you know, our pizza crafters take utmost pride in tossing, garnishing and baking all the pizzas fresh daily. <br>
        Oh yes, they will swelter next to the scorching heat of a pizza oven to get it done just right for you!
    </p>
    <p class="about-margin">
        Hey, isn’t chillin’ out with friends and pizzas a lot more interesting when there’s a variety you can choose from? (Yes, a variety of friends is also interesting but we digress…) <br>
        You’ll be delighted to know our lip-smackin’ pizzas come as individual slices so you can choose to just have one slice, or combine slices of different kinds of pizzas to make your meal! <br>
        And if you have a special request, do let us know. That way, we can keep the fun going just the way you like it! <br>
        Today, we can be found at 30 kiosk outlets (and more coming) across the island. <br>
        Feeling lazy? No problem, use Pezzo SG Online Delivery Website to get your slice of pizza rightaway! <br>
        Fancy a slice today?
    </p>
</section>
