@page "/faqs"

<div class="box">
    <p class="heading big-words">FAQS</p>
    <div class="faqs">

        <details>
            <summary>Q1: How can I contact you?</summary>
            <p class="text">You can contact us at our hotline : 66-36-36-36</p>
        </details>

        <details>
            <summary>Q2: What are your delivery hours?</summary>
            <p class="text">Our delivery hour is from 11:00AM to 09:00PM</p>
        </details>

        <details>
            <summary>Q3: How much time does it takes to deliver the order?</summary>
            <p class="text">Generally it takes between 45 minutes to 1 hour time to deliver the order. Due to long distance or heavy traffic, delivery might take few extra minutes.</p>
        </details>

        <details>
            <summary>Q4: How do I know the status of my order?</summary>
            <p class="text">After you place your order, it is sent immediately to the Pezzo SG Kitchen, which starts preparing it without any delay. The kitchen does everything to process your order as quickly as possible. However, sometimes Pezzo SG receives large amount of orders, or drivers get stuck in heavy traffic which might cause little delays. If the amount of time you've waited has exceeded the estimated delivery time, you may please contact us. You will a receive an SMS as soon as your order is dispatched.</p>
        </details>

        <details>
            <summary>Q5: Can I edit my order?</summary>
            <p class="text">Your order can be edited by our staffs before it reaches the kitchen. You could contact the customer support team via a call to do so. However, once an order is placed and the kitchen starts preparing your food, you may not edit its contents.</p>
        </details>

        <details>
            <summary>Q6: I need to cancel or change my order! How can I do this?</summary>
            <p class="text">Please contact helpline Number as soon as possible, we can let the kitchen know before it starts preparing your order. Once the order goes in the process, it cannot be changed.</p>
        </details>
        <details>
            <summary>Q7: How do I place an order?</summary>
            <p class="text">
                It is really easy, as easy as 1, 2, 3... <br /><br />
                Method 1: Calling our hotline <br />
                1. Call our hotline and tell us what you want + your delivery address <br /><br />
                Method 2: Order via our online website <br />
                1. Choose what you would like: Select items you'd like to order. <br />
                2. Checkout: Enter your exact delivery address, payment method and your phone number. Always make sure that you enter the correct phone number to help us contact you regarding your order if needed. Now sit back, relax, and we'll get your food delivered to your doorstep.
            </p>
        </details>
    </div>
</div>
